@charset "utf-8";


/*リンク設定*/
.delay3{
    background-color:#fff352;
    color:#000;
   }
   

/*テーブルの設定*/

#tbody{
	font-size: 12px;
	widows: 700px;
}

table.type08 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccccccd7;
	margin: 50px auto;
	
}

table.type08 thead th {	
	text-align: center;  /*text中央揃え*/
	
	padding: 10px;
	border-top: 1px solid #ccccccd7;
	border-right: 1px solid #ccccccd7;
	border-bottom: 2px solid #fff352;
	background: #dcdcd1;
}
table.type08 tbody th {
	width: 100px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccccccd7;
	border-bottom: 1px solid #ccccccd7;
	background: #ecececa1;
}
table.type08 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccccccd7;
	border-bottom: 1px solid #ccccccd7;	
	background-color: #fff;
	
}
